<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<header th:replace="fragments :: header"></header>

<th:block th:unless="${event}"><h2>THE EVENT YOU ARE TRYING TO EDIT DOES NOT EXIST.</h2></th:block>
<th:block th:if="${event != null}">

    <form method="POST" th:action="@{/events/edit}">
        <div class="form-group">
            <label>Name
                <input type="text" name="name" class="form-control" th:value="${event.name}">
            </label>
            <label>Description
                <input type="text" name="description" class="form-control" th:value="${event.description}">
            </label>
                <input type="hidden" th:value="${event.id}" name="eventId" />
        </div>
        <div class="form-group">
            <input type="submit" value="Edit Event" class="btn btn-success">
        </div>
    </form>
</th:block>
</body>
</html>